# Environment variables (IMPORTANT)
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints (if you use later)
.ipynb_checkpoints/